<a href="https://colab.research.google.com/github/holatung/DSN-AI-INVASION-OSUN/blob/main/Azure_Machine_Learning_Studio_Uniosun_2023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. You want to create a model to predict sales of ice cream based on historic data that includes daily ice cream sales totals and weather measurements. Which Azure service should you use?

A. Azure Machine Learning

B. Azure Bot

C. Language


2. You are designing an AI application that uses images to detect cracks in car windshields and warn drivers when a windshield should be repaired or replaced. What AI workload is described?

A. Computer Vision

B. Anomaly Detection

C. Natural Language Processing

3. A predictive app provides audio output for visually impaired users. Which principle of Responsible AI is reflected here?

A. Transparency

B. Inclusiveness

C. Fairness

In [ ]:
import pandas
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv

--2023-06-21 11:30:55--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21511 (21K) [text/plain]
Saving to: ‘graphing.py’

graphing.py         100%[===================>]  21.01K  --.-KB/s    in 0.001s

2023-06-21 11:30:55 (33.5 MB/s) - ‘graphing.py’ saved [21511/21511]

--2023-06-21 11:30:56--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 838 [text/plain]
Saving to: ‘doggy-boot-harness.csv’

doggy-boot-harness. 100%[===================>]     838  --.-KB/s    in 0s

2023-06-21 11:30:56 (59.5 MB/s) - ‘doggy-boot-harness.csv’ saved [838/838]

In [ ]:
pip install statsmodels

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (23.1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)

In [ ]:
data = {
    'boot_size' : [ 39, 38, 37, 39, 38, 35, 37, 36, 35, 40,
                    40, 36, 38, 39, 42, 42, 36, 36, 35, 41,
                    42, 38, 37, 35, 40, 36, 35, 39, 41, 37,
                    35, 41, 39, 41, 42, 42, 36, 37, 37, 39,
                    42, 35, 36, 41, 41, 41, 39, 39, 35, 39
 ],
    'harness_size': [ 58, 58, 52, 58, 57, 52, 55, 53, 49, 54,
                59, 56, 53, 58, 57, 58, 56, 51, 50, 59,
                59, 59, 55, 50, 55, 52, 53, 54, 61, 56,
                55, 60, 57, 56, 61, 58, 53, 57, 57, 55,
                60, 51, 52, 56, 55, 57, 58, 57, 51, 59
                ]
}

In [ ]:
dataset = pandas.DataFrame(data)
(dataset)

    boot_size  harness_size
0          39            58
1          38            58
2          37            52
3          39            58
4          38            57
5          35            52
6          37            55
7          36            53
8          35            49
9          40            54
10         40            59
11         36            56
12         38            53
13         39            58
14         42            57
15         42            58
16         36            56
17         36            51
18         35            50
19         41            59
20         42            59
21         38            59
22         37            55
23         35            50
24         40            55
25         36            52
26         35            53
27         39            54
28         41            61
29         37            56
30         35            55
31         41            60
32         39            57
33         41            56
34         42            61
35         42            58
36         36            53
37         37            57
38         37            57
39         39            55
40         42            60
41         35            51
42         36            52
43         41            56
44         41            55
45         41            57
46         39            58
47         39            57
48         35            51
49         39            59

In [ ]:
dataset = pandas.read_csv('doggy-boot-harness.csv')

In [ ]:
(dataset)

    boot_size  harness_size     sex  age_years
0          39            58    male       12.0
1          38            58    male        9.6
2          37            52  female        8.6
3          39            58    male       10.2
4          38            57    male        7.8
5          35            52  female        4.4
6          37            55  female        6.0
7          36            53  female       14.2
8          35            49    male       13.2
9          40            54  female       15.2
10         40            59    male        3.6
11         36            56    male       10.0
12         38            53  female        7.0
13         39            58    male       12.4
14         42            57    male        7.4
15         42            58    male       12.0
16         36            56    male       11.4
17         36            51  female        5.0
18         35            50  female       15.2
19         41            59    male       11.4
20         42            59  female        6.6
21         38            59    male        9.6
22         37            55  female        7.8
23         35            50    male        6.4
24         40            55  female        8.8
25         36            52  female       13.2
26         35            53  female       13.2
27         39            54  female        6.8
28         41            61    male       10.8
29         37            56    male        6.2
30         35            55  female       11.8
31         41            60    male        4.2
32         39            57  female        3.6
33         41            56    male        5.2
34         42            61    male        5.8
35         42            58    male        6.6
36         36            53  female        4.6
37         37            57    male       14.0
38         37            57    male       10.2
39         39            55  female        8.4
40         42            60    male       12.4
41         35            51  female        3.8
42         36            52  female        4.2
43         41            56    male       11.0
44         41            55  female       13.6
45         41            57  female       12.6
46         39            58    male       14.6
47         39            57    male       15.0
48         35            51  female       14.2
49         39            59    male        9.4

In [ ]:
print(dataset.harness_size)

0     58
1     58
2     52
3     58
4     57
5     52
6     55
7     53
8     49
9     54
10    59
11    56
12    53
13    58
14    57
15    58
16    56
17    51
18    50
19    59
20    59
21    59
22    55
23    50
24    55
25    52
26    53
27    54
28    61
29    56
30    55
31    60
32    57
33    56
34    61
35    58
36    53
37    57
38    57
39    55
40    60
41    51
42    52
43    56
44    55
45    57
46    58
47    57
48    51
49    59
Name: harness_size, dtype: int64

In [ ]:
del dataset["sex"]
del dataset["age_years"]

In [ ]:
print(dataset.columns.values)

['boot_size' 'harness_size']

In [ ]:
(dataset)

    boot_size  harness_size
0          39            58
1          38            58
2          37            52
3          39            58
4          38            57
5          35            52
6          37            55
7          36            53
8          35            49
9          40            54
10         40            59
11         36            56
12         38            53
13         39            58
14         42            57
15         42            58
16         36            56
17         36            51
18         35            50
19         41            59
20         42            59
21         38            59
22         37            55
23         35            50
24         40            55
25         36            52
26         35            53
27         39            54
28         41            61
29         37            56
30         35            55
31         41            60
32         39            57
33         41            56
34         42            61
35         42            58
36         36            53
37         37            57
38         37            57
39         39            55
40         42            60
41         35            51
42         36            52
43         41            56
44         41            55
45         41            57
46         39            58
47         39            57
48         35            51
49         39            59

In [ ]:
print(dataset.head())

   boot_size  harness_size
0         39            58
1         38            58
2         37            52
3         39            58
4         38            57

In [ ]:

print(dataset.tail())

    boot_size  harness_size
45         41            57
46         39            58
47         39            57
48         35            51
49         39            59

In [ ]:
print(f"We have {len(dataset)} rows of data")

We have 50 rows of data

In [ ]:
is_small = dataset.harness_size < 55

In [ ]:
print(is_small)

0     False
1     False
2      True
3     False
4     False
5      True
6     False
7      True
8      True
9      True
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17     True
18     True
19    False
20    False
21    False
22    False
23     True
24    False
25     True
26     True
27     True
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36     True
37    False
38    False
39    False
40    False
41     True
42     True
43    False
44    False
45    False
46    False
47    False
48     True
49    False
Name: harness_size, dtype: bool

In [ ]:
data_from_small_dogs = dataset[is_small]

In [ ]:
print(data_from_small_dogs)

    boot_size  harness_size
2          37            52
5          35            52
7          36            53
8          35            49
9          40            54
12         38            53
17         36            51
18         35            50
23         35            50
25         36            52
26         35            53
27         39            54
36         36            53
41         35            51
42         36            52
48         35            51

In [ ]:
print(f"\nNumber of dogs with harness size less than 55: {len(data_from_small_dogs)}")

Number of dogs with harness size less than 55: 16

In [ ]:
data_smaller_paws = dataset[dataset.boot_size < 40].copy()

NameError: ignored

In [ ]:
print(f"We now have {len(data_smaller_paws)} rows in our dataset. The last few rows are:")
data_smaller_paws.tail()

NameError: ignored

In [ ]:
import plotly.express
import graphing

In [ ]:
plotly.express.scatter(data_smaller_paws, x="harness_size", y="boot_size")

NameError: ignored

In [ ]:
data_smaller_paws['harness_size_imperial'] = data_smaller_paws.harness_size / 2.54

In [ ]:
plotly.express.scatter(data_smaller_paws, x="harness_size_imperial", y="boot_size")

In [ ]:
dataset['boot_size'].mean()

38.32

In [ ]:
import pandas
!pip install statsmodels
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv


data = pandas.read_csv('doggy-boot-harness.csv')

data.head()

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: statsmodels in /usr/local/lib/python3.10/dist-packages (0.13.5)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.5.3)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (0.5.3)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (23.1)
Requirement already satisfied: scipy>=1.3 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.10.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.10/dist-packages (from statsmodels) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from patsy>=0.5.2->statsmodels) (1.16.0)
--2023-06-21 23:02:03--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 21511 (21K) [text/plain]
Saving to: ‘graphing.py’

graphing.py         100%[===================>]  21.01K  --.-KB/s    in 0s

2023-06-21 23:02:03 (61.5 MB/s) - ‘graphing.py’ saved [21511/21511]

--2023-06-21 23:02:03--  https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/doggy-boot-harness.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 838 [text/plain]
Saving to: ‘doggy-boot-harness.csv’

doggy-boot-harness. 100%[===================>]     838  --.-KB/s    in 0s

2023-06-21 23:02:03 (41.4 MB/s) - ‘doggy-boot-harness.csv’ saved [838/838]

   boot_size  harness_size     sex  age_years
0         39            58    male       12.0
1         38            58    male        9.6
2         37            52  female        8.6
3         39            58    male       10.2
4         38            57    male        7.8

In [ ]:
import statsmodels.formula.api as smf

In [ ]:
model = smf.ols(formula = "boot_size ~ harness_size", data = data).fit()

In [ ]:
print("Model trained!")

Model trained!

In [ ]:
import joblib

model_filename = './avalanche_dog_boot_model.pkl'
joblib.dump(model, model_filename)

print("Model saved!")

Model saved!

In [ ]:
model_loaded = joblib.load(model_filename)

print("We have loaded a model with the following parameters:")
print(model_loaded.params)

We have loaded a model with the following parameters:
Intercept       5.719110
harness_size    0.585925
dtype: float64

In [ ]:
def load_model_and_predict(harness_size):

  loaded_model = joblib.load(model_filename)

  print("We've loaded a model with the following parameters:")

  print(loaded_model.params)

  inputs = {"harness_size":[harness_size]}

  predicted_boot_size = loaded_model.predict(inputs)[0]

  return predicted_boot_size

  predicted_boot_size = load_model_and_predict(45)

  ("Predicted dog boot size:", predicted_boot_size)